nav{
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

nav a img{
    width: 200px;
}


footer img{
    width: 200px;
}

i{
    font-size: 50px;
}



font-family: 'Bangers', cursive;
font-family: 'Raleway', sans-serif;